body {
    background-color: #fcfcfc;
    color: #db6363;
    text-align: center;
}

header {
    grid-column: 1 / 7;
}

.title {
    margin: auto;
    color: #dc6363;
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
}

.banner {
    padding: 3%;
    background-color: #db6363;
    color: #fff;
    font-family: poppins;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 3.7px;
    grid-column: 1 / 7;
}

p, .banner-contents {
    max-width: 80%;
    margin: auto;
}